<div class="row"></div>
<form [formGroup]="formGroup">
  <div class="e-card content card mb-1">
    <div class="row mr-3 ml-3">
      <div class="col-8">
        <label for="to">Work Experience Request Reason</label>
        <ejs-textbox
          formControlName="reason"
          placeholder="Please Specifay your reason"
          [multiline]="true"
          rows="3"
          float="Auto"
        ></ejs-textbox>
        <span
          *ngIf="
            formSubmitted && formGroup.controls.reason.hasError('required')
          "
          style="color:rgba(255, 0, 0, 0.671)"
        >
          <small>* reason is required</small>
        </span>
      </div>
      <div class="col-4"></div>
    </div>
    <div class="row btn-row ml-1">
      <div class="col-12">
        <app-request-for-other
          #reqforOther
          [isUpdate]="isUpdate"
        ></app-request-for-other>
        <div class="form-group mx-sm-3 mb-1">
          <button
            class="btn e-info"
            ejs-button
            type="button"
            (click)="Submit()"
          >
            Send
          </button>
          <button
            type="button"
            class="btn e-danger"
            ejs-button
            (click)="cancel()"
          >
            Cancel
          </button>
        </div>
      </div>
      <div class="col-6"></div>
    </div>

    <p></p>
  </div>
</form>

<app-shared-toast #notif></app-shared-toast>
