.underline {
  background: #7575ff;
  border-radius: 5px;
  width: 52px;
  height: 3px;
}

.thin-underline {
  background: #7575ff;
  border-radius: 3px;
  width: 80px;
  height: 1px;
}

.req {
  padding: 5px;
}

.emp-info {
  color: #7575ff;
  font-weight: 600;
}

.exp-info {
  font-weight: 600;
}

.req-date {
  font-size: 14px;
  font-family: serif;
  float: right;
}

.row {
  margin-left: 0;
  margin-right: 0;
}
