<ejs-dialog
  id="dialog"
  #template
  [showCloseIcon]="dialogCloseIcon"
  [target]="targetElement"
  width="600px"
  [position]="position"
  [isModal]="true"
  [closeOnEscape]="true"
  (open)="dialogOpen()"
  (close)="dialogClose()"
  [enableResize]="true"
  [allowDragging]="true"
>
  <ng-template #header>
    <div title="Nancy" class="e-icon-settings dlg-template">
      Acting assignment request
      <small class="req-date">{{ updatedDate }}</small>
    </div>
    <div class="underline"></div>
  </ng-template>
  <ng-template #content>
    <div class="request-content">
      <div class="row" *ngIf="employeeInfo">
        <div class="col-12 req">
          Employee's Name:
          <span class="emp-info">{{ employeeInfo.full_name }}</span>
        </div>
        <div class="col-12 req">
          Empoyee ID: <span class="emp-info">{{ employeeInfo.emp_id }}</span>
        </div>
        <div class="col-12 req">
          Division:<span class="emp-info"> {{ employeeInfo.division }}</span>
        </div>
        <div class="col-12 req">
          Job title: <span class="emp-info">{{ employeeInfo.position }}</span>
        </div>
      </div>
      <div class="thin-underline"></div>
      <div class="row" *ngIf="requestDetail">
        <div class="col-12 req">
          Position to be filled:
          <span class="exp-info">{{ requestDetail.position_title }}</span>
        </div>
        <div class="col-12 req">
          Reason for vacancy:
          <span class="exp-info">{{ requestDetail.reason_for_vacancy }}</span>
        </div>
        <div class="col-12 req">
          Requesting division:
          <span class="exp-info">{{ requestDetail.requesting_division }}</span>
        </div>
        <div>
          <b><u>Proposed employee</u></b>
          <div class="col-12 req">
            Full name:
            <span class="exp-info">{{ requestDetail.proposed_employee }}</span>
          </div>
          <div class="col-12 req">
            Employee ID:
            <span class="exp-info">{{ requestDetail.proposed_emp_id }}</span>
          </div>
          <div class="col-12 req">
            Current position title:
            <span class="exp-info">{{ requestDetail.current_position }}</span>
          </div>
          <div class="col-12 req">
            Grade level:
            <span class="exp-info">{{ requestDetail.proposed_job_grade }}</span>
          </div>
        </div>
        <div class="col-12 req">
          Starting date for Acting position:
          <span class="exp-info">{{ requestDetail.starting_date }}</span>
        </div>
        <div class="col-12 req">
          Completion date for Acting position:
          <span class="exp-info">{{ requestDetail.completion_date }}</span>
        </div>
        <div class="col-12 req">
          Replacement plan:
          <span class="exp-info">{{ requestDetail.replacement_plan }}</span>
        </div>
      </div>
    </div>
  </ng-template>

  <ng-template #footerTemplate>
    <button id="approve" type="submit" class="btn e-success" ejs-button>
      Approve
    </button>
    <button id="reject" type="submit" class="btn e-danger" ejs-button>
      Reject/Cancel
    </button>
  </ng-template>
</ejs-dialog>
<app-shared-toast #notif></app-shared-toast>
