<ejs-dialog
  id="dialog"
  #template
  [showCloseIcon]="dialogCloseIcon"
  [target]="targetElement"
  width="650px"
  [position]="position"
  [isModal]="true"
  [closeOnEscape]="true"
  (open)="dialogOpen()"
  (close)="dialogClose()"
  [enableResize]="true"
  [allowDragging]="true"
>
  <ng-template #header>
    <div title="Nancy" class="e-icon-settings dlg-template">
      Medical request
      <small class="req-date">{{ updatedDate | date }}</small>
    </div>
    <div class="underline"></div>
  </ng-template>
  <ng-template #content>
    <div class="request-content">
      <div class="row" *ngIf="employeeInfo">
        <div class="col-12 req">
          Employee's Name:
          <span class="emp-info">{{ employeeInfo.full_name }}</span>
        </div>
        <div class="col-12 req" *ngIf="requestDetail">
          Family member's Name:
          <span class="emp-info">{{
            requestDetail.refund_for_id ? requestDetail.full_name : ""
          }}</span>
        </div>
        <div class="col-6 req">
          Empoyee ID: <span class="emp-info">{{ employeeInfo.emp_id }}</span>
        </div>
        <div class="col-6 req">
          Place of work:
          <span class="emp-info">{{ employeeInfo.place_of_work }}</span>
        </div>
        <div class="col-6 req">
          Division:<span class="emp-info"> {{ employeeInfo.division }}</span>
        </div>
        <div class="col-6 req">
          Job title: <span class="emp-info">{{ employeeInfo.position }}</span>
        </div>
        <div class="col-6 req">
          Medical Balance: <span class="emp-info">{{ ( requestDetail?.assigned - requestDetail?.used) | number }}</span>
        </div>
      </div>
      <div class="thin-underline"></div>
      <div class="row" *ngIf="requestDetail">
        <div class="col-12 req">
          <b>Expenses detail</b>
        </div>
        <div class="col-12 req">
          <table border="1" width="100%">
            <thead><tr align="center"><th>#</th><th>Amount</th><th>Particulars</th><th>Date</th><th>Attachement</th></tr></thead>
            <tbody>
              <tr *ngFor="let expense of requestDetail.data;let i = index;let last = last">
                <td>{{i + 1}}</td>
                <td>{{ expense.amount | currency: "":"" }} birr</td>
                <td>{{ expense.particulars }}</td>
                <td>{{ expense.date | date }}</td>
                <td>
                  <a *ngIf="expense.attachement" href="{{ apiService.url + '/' + expense.attachement}}" target="_blank" class="btn btn-link">
                    <small>View Attachement</small>
                  </a>
                </td>
              </tr>
            </tbody>  
          </table> 
        </div>
        <br />
        <br />
        <div class="col-12">
          - Total requested amount: <span class="exp-info" *ngIf="requestDetail">{{totalExpenses | currency: "":""}}</span>
        </div>
        <br />
        <div class="col-12">
          - Amount to be paid: <span class="exp-info">{{ requestDetail.data[0].total_paid | currency: "":""}}</span>
        </div>
      </div>
    </div>
  </ng-template>

  <ng-template #footerTemplate>
    <button id="approve" type="submit" class="btn e-success" ejs-button>
      Approve
    </button>
    <button id="reject" type="submit" class="btn e-danger" ejs-button>
      Reject/Cancel
    </button>
  </ng-template>
</ejs-dialog>
<app-shared-toast #notif></app-shared-toast>
