<div class="row">
    <div class="col-md-12">
      <app-shared-grid
        [gridData]="schedules"
        [grouped]="false"
        [showAdd]="true"
        [showSearch]="true"
        searchField="name"
        [incomingCommand]="Command"
        [showCollapseAndExpand]="false"
        [columns]="columns"
        (editRecord)="edit($event)"
        (deleteRecord)="delete($event)"
        (addRecord)="add()"
      >
      </app-shared-grid>
    </div>
  </div>
  <app-shared-toast #notif></app-shared-toast>
  