<form [formGroup]="formGroup">
  <div class="e-card content card mb-1">
    <p></p>
    <div class="row mr-3 ml-3">
      <div class="col-6">
        <label for="comment">Position</label>
        <ejs-dropdownlist id="ddlelement" [dataSource]="positions" [fields]='positionFields' placeholder="Positions" formControlName="position_tobe_filled"></ejs-dropdownlist>
        <span *ngIf="formSubmitted && formGroup.controls.position_tobe_filled.hasError('required')" style="color:rgba(255, 0, 0, 0.671)">
          <small>* position is required</small>
        </span>

      </div>
      <div class="col-6">
        <label for="comment">Requesting Division</label>
        <ejs-textbox formControlName="requesting_division" placeholder="Division" float="Auto"></ejs-textbox>
        <span *ngIf="formSubmitted && formGroup.controls.requesting_division.hasError('required')" style="color:rgba(255, 0, 0, 0.671)">
          <small>* requesting division is required</small>
        </span>
      </div>
    </div>

    <div class="row mr-3 ml-3">
      <div class="col-6">
        <label for="type">Proposed Employee</label>          
          <ejs-autocomplete id="atcelement" [fields]="employeeFields" [dataSource]="employees" placeholder="Search Employees"
            formControlName="proposed_emp_id" (filtering)="onFilteringEmployee($event)"
          ></ejs-autocomplete>

          <span *ngIf="formSubmitted && formGroup.controls.proposed_emp_id.hasError('required')" style="color:rgba(255, 0, 0, 0.671)">
            <small>* employee is required</small>
          </span>
      </div>
      <div class="col-6">
        <label for="type">Request Plan</label>
          <ejs-dropdownlist id="ddlelement" [dataSource]="requestPlan" placeholder="Plan" float="Auto" formControlName="replacement_plan"></ejs-dropdownlist>
          <span *ngIf="formSubmitted && formGroup.controls.replacement_plan.hasError('required')" style="color:rgba(255, 0, 0, 0.671)">
            <small>* request plan is required</small>
          </span>
      </div>
    </div>

    <div class="row mr-3 ml-3">
      <div class="col-6">
        <label for="to">Starting Date</label>
        <ejs-datepicker format="yyyy/MM/dd" placeholder="From" formControlName="starting_date"></ejs-datepicker>
        <span *ngIf="formSubmitted && formGroup.controls.starting_date.hasError('required')" style="color:rgba(255, 0, 0, 0.671)">
          <small>* starting date is required</small>
        </span>
      </div>
      <div class="col-6">
        <label for="to">Completion Date</label>
        <ejs-datepicker format="yyyy/MM/dd" placeholder="To" formControlName="completion_date"></ejs-datepicker>
        <span *ngIf="formSubmitted && formGroup.controls.completion_date.hasError('required')" style="color:rgba(255, 0, 0, 0.671)">
          <small>* completion date is required</small>
        </span>
      </div>
    </div>

    <div class="row mr-3 ml-3">
      <div class="col-12">
        <label for="to">Reason for Vacancy</label>
        <ejs-textbox formControlName="reason_for_vacancy" placeholder="reason" [multiline]="true" float="Auto"></ejs-textbox>
        <span *ngIf="formSubmitted && formGroup.controls.reason_for_vacancy.hasError('required')" style="color:rgba(255, 0, 0, 0.671)">
          <small>* reason is required</small>
        </span>
      </div>
    </div>
    <p></p>
    <div class="row btn-row ml-1">
      <div class="col-6">
        <div class="form-group mx-sm-3 mb-1">
          <button class="btn e-info" ejs-button type="button" (click)="Submit()">Send</button>
          <button type="button" class="btn e-danger" ejs-button (click)="cancel()">Cancel</button>
        </div>
      </div>
      <div class="col-6"></div>

    </div>
    <p></p>
  </div>
</form>

<app-shared-toast #notif></app-shared-toast>
