<p></p>
<div class="row">
  <div class="col-md-12">
    <app-shared-grid
      [gridData]="salaryAdvances"
      [grouped]="false"
      [showAdd]="true"
      [showSearch]="false"
      [incomingCommand]="incomingCommand"
      [showCollapseAndExpand]="false"
      [columns]="columnsToDisplay"
      (editRecord)="edit($event)"
      (deleteRecord)="delete($event)"
      (addRecord)="add()"
      [height]="500"
    >
    </app-shared-grid>
  </div>
</div>
<app-shared-toast #notif></app-shared-toast>
