.underline {
  background: #7575ff;
  border-radius: 5px;
  width: 10%;
  height: 2px;
}

li {
  list-style: none;
}

li:hover {
  background-color: #7575ff11;
  cursor: pointer;
}

.date {
  color: #7575ff;
  font-family: serif;
  font-weight: 600;
  float: right;
  margin-right: 10px;
}

ul {
  margin-left: -20px;
}

.container {
  padding: 0;
  background: white;
  max-height: 700px;
  /* overflow-y: scroll; */
}

.requests {
  -ms-overflow-style: none;
}