<div class="container">
  <div class="requests" *ngIf="requests.length > 0">
    <ul *ngIf="requests">
      <li
        *ngFor="let req of requests; index as i"
        (click)="
          viewRequestDetail(req.id, req.url, req.emp_id, req.updated_date)
        "
      >
        <span>
          <small
            ><b>Type: {{ req.name }}</b></small
          ><br />
          <small>By: {{ req.full_name | uppercase }}</small>
          <small class="date">{{ req.updated_date | date }}</small>
        </span>
        <div class="underline"></div>
      </li>
    </ul>
  </div>
</div>


