<ejs-dialog
  id="dialog"
  #template
  [showCloseIcon]="dialogCloseIcon"
  [target]="targetElement"
  width="600px"
  [position]="position"
  [isModal]="true"
  [closeOnEscape]="true"
  (open)="dialogOpen()"
  (close)="dialogClose()"
  [enableResize]="true"
  [allowDragging]="true"
>
  <ng-template #header>
    <div title="Nancy" class="e-icon-settings dlg-template">
      Termination request
      <small class="req-date">{{ updatedDate | date}}</small>
    </div>
    <div class="underline"></div>
  </ng-template>
  <ng-template #content>
    <div class="request-content">
      <div class="row" *ngIf="employeeInfo">
        <div class="col-12 req">
          Employee's Name:
          <span class="emp-info">{{ employeeInfo.full_name }}</span>
        </div>
        <div class="col-12 req">
          Empoyee ID: <span class="emp-info">{{ employeeInfo.emp_id }}</span>
        </div>
        <div class="col-12 req">
          Division:<span class="emp-info"> {{ employeeInfo.division }}</span>
        </div>
        <div class="col-12 req">
          Job title: <span class="emp-info">{{ employeeInfo.position }}</span>
        </div>
      </div>
      <div class="thin-underline"></div>
      <div class="row" *ngIf="requestDetail">
        <div class="col-12 req">
          Reason:
          <span class="exp-info">{{ requestDetail.reason_for_terminate }}</span>
        </div>
      </div>
    </div>
  </ng-template>

  <ng-template #footerTemplate>
    <button id="approve" type="submit" class="btn e-success" ejs-button>
      Approve
    </button>
    <button id="reject" type="submit" class="btn e-danger" ejs-button>
      Reject/Cancel
    </button>
  </ng-template>
</ejs-dialog>
<app-shared-toast #notif></app-shared-toast>
