.link {
    border-left: 5px solid #73A03455;
    margin-bottom: 15px;
  }
  
  h6,
  span {
    margin-left: 10px;
  }
  
  a {
    color: black;
  }
  
  .col-8 {
    margin-left: 1%;
  }

  .btn {
    background-color: #73a134;
    color: white;
  }

  #new_job {
    background-color: gold;
    padding: 0px 20px 5px 10px;
    font-weight: bolder;
    font-size: larger;
    margin-top: 10px;
  }