<div class="row">
    <div class="col-8">
      <div *ngFor="let vacancy of vacancies">
        <div class="e-card link">
          <div class="e-card-content">
              <p>
                <span id="title">
                  <label for="title">Title : </label>
                  <u>  {{ vacancy.Title | uppercase }}  </u>
                </span>
                <span id="deadline" style="float: right;">
                  <label for="deadline">Application Dead Line : </label>
                  <u>  {{ vacancy.Dead_line | date }}  </u>
                </span>
              </p>
              <p>
                <span id="te">
                  <label for="te">Term Of Employement : </label>
                  <u>  {{ vacancy.Term_Of_Employement | titlecase }}  </u>
                </span>

                <span id="nr" style="float: right;">
                  <label for="nr">Number Of Required : </label>
                  <u>  {{ vacancy.NumberOfRequired }}  </u>
                </span>
              </p>
              <p>
                <span id="te">
                  <label for="te">Duty Station/Branch : </label>
                  <u>  {{ vacancy.Location | titlecase }}  </u>
                </span>
                <span id="av" style="float: right;">
                  <label for="av">Availability : </label>
                  <u>  {{ vacancy.Availability | titlecase }}  </u>
                </span>
              </p>
              <p>
                <label for="av">Posted Date : </label>
                <span id="new_job" *ngIf="vacancy.Created_date === 'New'; else els">
                  {{ vacancy.Created_date | uppercase }}
                </span>
                <ng-template #els>
                    <u>  {{ vacancy.Created_date | date }}  </u>
                </ng-template>
                <span style="float: right;">
                  <a routerLink= "{{vacancy.id}}/detail"  class="btn btn">View Detail</a>
                </span>
              </p>
          </div>
        </div>
        <br />
      </div>
    </div>
  </div>
  