.e-plus-icon::before {
  content: "\e823";
}

.e-close::before {
  content: "\e7fc";
}

.e-card.content.card.m-3 {
  padding: 15px;
  border-color: #7575ff;
  background: #f7f7f7;
  box-shadow: 0 2px 3px 0 rgb(250, 196, 33);
}

.workflow-array {
  width: 100%;
}

#remove-button,
#add-button {
  margin-top: 0px;
  padding: 0px;
  float: left;
  margin-right: 10px;
  font-size: inherit;
}

.array-field {
  margin: 0;
}

.btn {
  margin-top: 20px;
  margin-right: 20px !important;
}

.row.guaranter-array {
  width: 100%;
}

ejs-dropdownlist {
  margin-bottom: 10px;
}
