<form [formGroup]="loanForm" (ngSubmit)="onSubmit()" name="loanForm">
  <div class="e-card content card m-3">
    <div *ngIf="loanInfo">
      <ngb-alert type="light" [dismissible]="false" *ngIf="loanInfo.status">
        <strong> Allowed </strong
        ><u>{{ loanInfo.message.allowed_loan_amount | number }}</u> Birr
        <strong>Payment period: </strong>with in
        <u> {{ loanInfo.message.loan_repay_period }}</u>
        Months
      </ngb-alert>
      <ngb-alert type="danger" [dismissible]="false" *ngIf="!loanInfo.status">
        <strong> Total Salary Advance Amount </strong
        ><u>{{ loanInfo.message.total | number }}</u> Birr --
        <strong> Total Deducted Amount </strong
        ><u>{{ loanInfo.message.deducted | number }}</u> Birr --
        <strong> Maxiumum Payment Date </strong
        ><u>{{ loanInfo.message.ending_date | date }}</u>
      </ngb-alert>
    </div>

    <div class="row">
      <div class="col-4">
        <div class="form-group mx-sm-3 mb-1">
          <label for="loanAmount">Amount of loan</label>
          <ejs-numerictextbox
            formControlName="loanAmount"
            format="N"
            #loanAmount
            (change)="validateAmount(loanAmount.value)"
          ></ejs-numerictextbox>
          <span style="color: crimson;" *ngIf="allowedAmountError">
            <small>invalid amount</small>
          </span>

          <div *ngIf="loanAmount.error">
            *Amount of loan is Required*
          </div>
        </div>
      </div>
      <div class="col-4">
        <div class="form-group mx-sm-3 mb-1">
          <label for="loanAmount">Reason for loan</label>
          <ejs-textbox
            type="text"
            formControlName="reasonOfLoan"
            float="Auto"
          ></ejs-textbox>
          <div class="text-danger" *ngIf="reasonOfLoan.errors">
            <small>*Reason of loan is required*</small>
          </div>
        </div>
      </div>
      <div class="col-4"></div>
    </div>
    <div class="col-8">
      <label for="authorizedBy">Guaranters</label>
      <div class="row array-container" formArrayName="guaranterArray">
        <div
          class="row guaranter-array"
          *ngFor="
            let guaranter of guaranterArray.controls;
            let i = index;
            let last = last
          "
          [formGroup]="guaranter"
        >
          <div class="col-6 array-field experience">
            <div class="form-group mx-sm-3 mb-1">
              <ejs-dropdownlist
                id="position"
                [dataSource]="guarantors"
                [fields]="fields"
                placeholder="Guaranters"
                float="Auto"
                formControlName="guaranter"
                [allowFiltering]="true"
                (filtering)="onFilteringGuarantors($event)"
                #test
                (select)="onSelect(i,$event.itemData)"
              >
              </ejs-dropdownlist>
              <div
                class="e-error"
                *ngIf="
                  (submitted && guaranter.errors) ||
                  (guaranter.errors && guaranter.touched)
                "
              >
                <div *ngIf="guaranter.errors['required']">
                  *Guaranter is Required*
                </div>
              </div>
            </div>
          </div>
          <div class="col-6 array-buttons">
          </div>
        </div>
      </div>
      <span style="color: crimson;" *ngIf="!guaranter_cumulative_result">
        <small>Guaranter's is not Capable to Hold You.</small>
      </span>
    </div>
    <div class="row btn-row">
      <div class="col-12">
        <app-request-for-other
          #reqforOther
          (parentEvent)="loadLoanInfo($event)"
          [isUpdate]="isUpdate"
        ></app-request-for-other>
        <div class="form-group mx-sm-3 mb-1" *ngIf="loanInfo">
          <button
            class="btn e-info"
            ejs-button
            type="submit"
            [disabled]="loanAmount.value > loanInfo.message.allowed_loan_amount || !guaranter_cumulative_result"
          >
            Save
          </button>
          <button
            type="button"
            class="btn e-danger"
            ejs-button
            (click)="cancel()"
          >
            Cancel
          </button>
        </div>
      </div>
      <div class="col-8"></div>
    </div>
  </div>
</form>
<app-shared-toast #notif></app-shared-toast>
