<form [formGroup]="formGroup">
  <div class="e-card content.card.mb-3">
    <p></p>
    <div class="row mr-3 ml-3">
      <div class="col-6">
        <label for="from">Begining Date</label>
        <ejs-datepicker
          format="yyyy/MM/dd"
          placeholder="From"
          formControlName="from"
          [min]='minDate'
          [max]='maxDate'
        ></ejs-datepicker>
        <span
          *ngIf="formSubmitted && formGroup.controls.from.hasError('required')"
          style="color:rgba(255, 0, 0, 0.671)"
        >
          <small>* from is required</small>
        </span>
      </div>

      <div class="col-6">
        <label for="to">Number Of Days</label>
        <ejs-numerictextbox
          formControlName="number_of_days"
          format="N"
          min="1"
          placeholder="Total"
        ></ejs-numerictextbox>
        <span
          *ngIf="
            formSubmitted &&
            formGroup.controls.number_of_days.hasError('required')
          "
          style="color:rgba(255, 0, 0, 0.671)"
        >
          <small>* Number of Days is required</small>
        </span>
      </div>
    </div>
    <p></p>
    <div class="row mr-3 ml-3">
      <div class="col-6">
        <label for="type">Leave Type</label>
        <ejs-dropdownlist
          id="ddlelement"
          #love
          (change)="getBalance(love.value)"
          [dataSource]="type"
          [fields]="fields"
          placeholder="Type"
          float="Auto"
          formControlName="type"
        ></ejs-dropdownlist>
        <span style="color:rgba(255, 0, 0, 0.671)">
          <small
            *ngIf="
              formSubmitted && formGroup.controls.type.hasError('required')
            "
            >* leave type is required</small
          >
          <small style="color: crimson;" *ngIf="remainingBalance !== undefined">
            Remaining leave balance :
            {{ remainingBalance | number }} days</small
          >
        </span>
      </div>

      <div class="col-6">
        <label for="comment">Reason for Leave</label>
        <ejs-textbox
          formControlName="comment"
          placeholder="Comment"
          [multiline]="true"
          rows="1"
          float="Auto"
        ></ejs-textbox>
      </div>
    </div>
    <div class="row mr-3 ml-3">
      <div class="col-12">
        <ejs-checkbox
        cssClass="e-success"
        label="Apply For Loan"
        formControlName="is_loan"
        (change)="applyForLoan($event)"
      ></ejs-checkbox>
      </div>
    </div>
    <div class="row btn-row ml-1">
      <div class="col-12">
        <app-request-for-other
          #reqforOther
          (parentEvent)="getLeaveType($event)"
          [isUpdate]="isUpdate"
        ></app-request-for-other>
        <div class="form-group mx-sm-3 mb-1">
          <button
            class="btn e-info"
            ejs-button
            type="button"
            (click)="Submit()"
          >
            Send
          </button>
          <button
            type="button"
            class="btn e-danger"
            ejs-button
            (click)="cancel()"
          >
            Cancel
          </button>
        </div>
      </div>
      <div class="col-6"></div>
    </div>
    <p></p>
  </div>
</form>
<app-shared-toast #notif></app-shared-toast>