<div class="row mr-3 ml-3">
  <div class="col-12">
    <div class="news-link" *ngFor="let n of news">
      <h6>
        <a routerLink="news/detail/{{ n.id }}">{{ n.heading }}</a>
      </h6>
      <span><small>posted on {{ n.date | date }}</small></span>
    </div>
  </div>
</div>
