<div class="row" *ngIf="canRequestForOther">
  <div class="col-12 for-others">
    <div class="col-3">
      <div class="form-group mx-sm-3 mb-1" *ngIf="!isUpdate">
        <ejs-checkbox
          cssClass="e-success"
          label="Prepare request for other"
          (change)="requestForOther()"
        ></ejs-checkbox>
      </div>
    </div>
    <div class="col-6">
      <div class="form-group mx-sm-3 mb-1 ">
        <span class="autocomplete">
          <ejs-autocomplete
            id="atcelement"
            [fields]="requestFields"
            [dataSource]="requestEmployees"
            placeholder="Search employees to request"
            (filtering)="onFilteringRequestFor($event)"
            (select)="onrequestEmployeeChange($event)"
            (change)="onEmployeeChange($event)"
          ></ejs-autocomplete>
        </span>
      </div>
    </div>
  </div>
</div>
