.card {
  margin-top: 25%;
  margin-bottom: 50%;
}
.control-section {
  min-height: 370px;
  margin-bottom: 15px;
  margin-top: 10px;
}
.e-icon-settings.dlg-template {
  font-size: 26px;
  font-family: initial;
  font-weight: 600;
  color: #457108;
}

.e-float-input.e-control-wrapper:not(.e-input-group) .e-float-line::after {
  background: #3f51b5;
}

.underline {
  background: #ffc107;
  border-radius: 5px;
  width: 52px;
  height: 3px;
}
.btn.e-info {
  background-color: #7575ff;
}

.e-dlg-overlay {
  background: #8bc34a;
}

.btn.e-info {
  background: #457108;
  color: #ffc107;
}
