<div class=".control-section">
  <ejs-dialog id="dialog" #template [target]="targetElement" width="500px" [position]="position" [isModal]="true" (open)="dialogOpen()"    >
    <ng-template #header>
      <div title="Nancy" class="e-icon-settings dlg-template">Login</div>
      <div class="underline"></div>
    </ng-template>
    <ng-template #content>
      <div class="dialogContent">
        <form [formGroup]="loginForm" name="loginForm">
          <div class="form-group">
            <label for="username"></label>
            <ejs-textbox
              type="text"
              formControlName="username"
              placeholder="User name"
              floatLabelType="Auto"
            ></ejs-textbox>

            <div class="text-danger" *ngIf="username.error">
              <small>*User name is required*</small>
            </div>
          </div>
          <div class="form-group">
            <ejs-textbox
              type="password"
              formControlName="password"
              placeholder="Password"
              floatLabelType="Auto"
            ></ejs-textbox>
            <div
              class="text-danger"
              *ngIf="password.errors && password.errors['minlength']"
            >
              <small>*Minimum length of 6 characters is allowed*</small>
            </div>
          </div>
        </form>
      </div>
    </ng-template>
    <ng-template #footerTemplate>
      <button id="login" type="submit" class="btn e-info" ejs-button click="submit()">
        Login
      </button>
    </ng-template>
  </ejs-dialog>
</div>
<app-shared-toast #notif></app-shared-toast>
