<p></p>
<div class="row">
  <div class="col-md-12">
    <app-shared-grid
      [groupOptions]="groupOptions"
      [gridData]="workflows"
      [grouped]="true"
      [showAdd]="true"
      [showSearch]="true"
      [incomingCommand]="incomingCommand"
      [showCollapseAndExpand]="true"
      [columns]="columnsToDisplay"
      (editRecord)="edit($event)"
      (deleteRecord)="delete($event)"
      (addRecord)="addWorkflow()"
      [height]="500"
      [editPrivilage]="'editActivityWorkflow'"
      [addPrivilage]="'createActivityWorkflow'"
      [deletePrivilage]="'deleteActivityWorkflow'"
    >
    </app-shared-grid>
  </div>
</div>
<app-shared-toast #notif></app-shared-toast>
