
<form [formGroup]="medicalForm" (ngSubmit)="onSubmit()" name="medicalForm">
  <div class="e-card content card m-3">
    <div class="col-4">
      <label for="Request">Medical Refund For</label>
      <ejs-dropdownlist
        id="ddlelement"
        [dataSource]="familyMembers"
        placeholder="Members"
        float="Auto"
        formControlName="requestFor"
        [fields]="fields"
        #family
        (change)="showBalance(family.value)"
      ></ejs-dropdownlist>
      <div *ngIf="medicalBalance">
        <span style="color: crimson;font-weight: bolder;">
          <small
            >Remaining medical balance :
            {{ medicalBalance | number }} birr</small
          >
        </span>
      </div>
      <div class="e-error" *ngIf="submitted && requestFor.errors">
        <div *ngIf="requestFor.errors['required']">
          *Refund for is Required*
        </div>
      </div>
    </div>
    <div class="col-12">
      <div formArrayName="medicalArray">
        <div
          class="row medical-array"
          *ngFor="
            let medical of medicalArray.controls;
            let i = index;
            let last = last
          "
          [formGroup]="medical"
        >
          <div class="col-4 array-field experience">
            <div class="form-group mx-sm-3 mb-1">
              <label for="date">Date</label>
              <ejs-datepicker
                format="yyyy/MM/dd"
                formControlName="date"
                [min]='minDate'
                [max]='maxDate'
              ></ejs-datepicker>

              <div
                class="e-error"
                *ngIf="
                  (submitted && medical.errors) ||
                  (medical.errors && date.touched)
                "
              >
                <div *ngIf="date.errors['required']">
                  *Date is Required*
                </div>
              </div>
            </div>
          </div>
          <div class="col-4 array-field experience">
            <div class="form-group mx-sm-3 mb-1">
              <label for="particular">Particulars</label>
              <ejs-dropdownlist
                id="particulars"
                [dataSource]="particulars"
                [fields]="particularFields"
                formControlName="particular"
              >
              </ejs-dropdownlist>
              <div
                class="e-error"
                *ngIf="
                  (submitted && medical.errors) ||
                  (medical.errors && particular.touched)
                "
              >
                <div *ngIf="particular.errors['required']">
                  *Particular is is Required*
                </div>
              </div>
            </div>
          </div>
          <div class="col-4 array-buttons">
            <button
              [disabled]="medicalArray.length === 1"
              id="remove-button"
              type="button"
              ejs-button
              cssClass="e-round e-danger e-small"
              iconCss="e-icons e-close"
              (click)="deleteArray(i)"
            ></button>
            <button
              *ngIf="last"
              [disabled]="medicalArray.invalid"
              id="add-button"
              type="button"
              ejs-button
              class="e-pluse e-info"
              cssClass="e-round e-primary e-small"
              iconCss="e-icons e-plus-icon"
              (click)="addArray(totalIndex)"
            ></button>
          </div>
          <div class="col-4 array-field experience">
            <div class="form-group mx-sm-3 mb-1">
              <label for="noOfReciepts">Total Reciepts</label>
              <ejs-numerictextbox
                formControlName="noOfReciepts"
              ></ejs-numerictextbox>
              <div
                class="e-error"
                *ngIf="
                  (submitted && medical.errors) ||
                  (medical.errors && noOfReciepts.touched)
                "
              >
                <div *ngIf="noOfReciepts.errors['required']">
                  *No of reciepts is Required*
                </div>
              </div>
            </div>
          </div>
          <div class="col-4 array-field experience">
            <div class="form-group mx-sm-3 mb-1">
              <label for="amount">Expenditure</label>
              <ejs-numerictextbox
                formControlName="amount"
                #amount
              ></ejs-numerictextbox>
              <div
                class="e-error"
                *ngIf="
                  (submitted && medical.errors) ||
                  (medical.errors && amount.touched)
                "
              >
                <div *ngIf="amount.errors['required']">
                  *Amount is required*
                </div>
              </div>
            </div>
          </div>
          <div class="col-4 array-field"></div>

          <div class="col-4 array-field experience">
            <div class="form-group mx-sm-3 mb-1">
              <label for="institution_name">Institution Name</label>
              <ejs-textbox
                formControlName="institution_name"
                #institution_name
              ></ejs-textbox>
              <div
                class="e-error"
                *ngIf="
                  (submitted && medical.errors) ||
                  (medical.errors && institution_name.touched)
                "
              >
                <div *ngIf="institution_name.errors['required']">
                  *institution_name is required*
                </div>
              </div>
            </div>
          </div>

          <div class="col-4 array-field experience">
            <div class="form-group mx-sm-3 mb-1">
              <label for="institution_address">Institution Address</label>
              <ejs-textbox
                formControlName="institution_address"
                #institution_address
                [multiline] = "true"
                rows = 1
              ></ejs-textbox>
              <div
                class="e-error"
                *ngIf="
                  (submitted && medical.errors) ||
                  (medical.errors && institution_address.touched)
                "
              >
                <div *ngIf="institution_address.errors['required']">
                  *institution address is required*
                </div>
              </div>
            </div>
          </div>
          <div class="col-4 array-field experience"></div>

          <div class="col-4 array-field experience">
            <div class="form-group mx-sm-8 mb-1">
              <label for="institution_address">Attachement</label>
              <ejs-uploader formControlName="attachement" allowedExtensions = '.jpeg,.png,.jpg' maxFileSize = 1e+7
              [autoUpload]="false" [multiple]="false" (change)="onAttachementSelect(i,attchement)" 
              (removing)="onAttachementRemove(i)" #attchement>
            </ejs-uploader>
            </div>
          </div>

          <div class="col-4 array-field experience">
            <div class="form-group mx-sm-8 mb-1">  
              <br />        
              <br />        
              <a 
                style="float: right;"
                *ngIf = "medical.get('attachement').value !== null && isUpdate"
                href="{{medical.get('attachement').value}}" target="_blank" class="btn btn-outline-dark">
                View Attachement
              </a>
            </div>
          </div>


        </div>
      </div>
    </div>
    <app-request-for-other
      #reqforOther
      (parentEvent)="getFamilyMembers($event)"
      [isUpdate]="isUpdate"
    ></app-request-for-other>
    <div class="row">
      <div class="col-4">
        <div class="form-group mx-sm-3 mb-1">
          <button class="btn e-info" ejs-button type="submit">Send</button>
          <button
            type="button"
            class="btn e-danger"
            ejs-button
            (click)="cancel()"
          >
            Cancel
          </button>
        </div>
      </div>
      <div class="col-4">
        <span style="float: right; color: #3e4e27; font-weight: 500;">
          Total Expenditure:
          <u>{{ calculateTotal().totalExpenditure | currency: "":"" }}</u>
          <br />
          Current available balance :
          {{ medicalBalance | currency: "":"" }}
          <br />
          Amount to be paid:
          <u>{{ calculateTotal().totalPayment | currency: "":"" }}</u></span
        >
      </div>
      <div class="col-4"></div>
    </div>
  </div>
</form>
<app-shared-toast #notif></app-shared-toast>
