<div class="atform-container">
  <form [formGroup]="atForm" name="atForm" (ngSubmit)="onSubmit()">
    <div class="row">
      <div class="col-4">
        <div class="form-group">
          <label for="from"></label>
          <ejs-datepicker
            format="yyyy/MM/dd"
            formControlName="from"
            placeholder="From"
            floatLabelType="Auto"
          ></ejs-datepicker>
          <div class="text-danger" *ngIf="(range) && (from.errors)">
            <small>*From date is required*</small>
          </div>
        </div>
      </div>
      <div class="col-4">
        <div class="form-group">
          <label for="from"></label>
          <ejs-datepicker
            format="yyyy/MM/dd"
            formControlName="to"
            placeholder="To"
            floatLabelType="Auto"
          ></ejs-datepicker>
          <div class="text-danger" *ngIf="(range) && (to.errors)">
            <small>*To date is required*</small>
          </div>
        </div>
      </div>
      <div class="col-4">
        <button class="btn e-info" ejs-button type="submit">
          Get attendance
        </button>
      </div>
    </div>
  </form>
</div>
<div class="row">
  <div class="col-md-12">
    <app-shared-grid
      [gridData]="attendanceReport"
      [showAdd]="false"
      [showSearch]="false"
      [columns]="columnsToDisplay"
      [height]="500"
    >
    </app-shared-grid>
  </div>
</div>
<app-shared-toast #notif></app-shared-toast>
