<div class="form-button-box">
  <button
    class="btn e-info"
    ejs-button
    type="submit"
    [disabled]="submitDisabled"
  >
    {{ buttonText }}
  </button>
  <button
    type="button"
    cssClass="e-danger"
    ejs-button
    [disabled]="cancelDisabled"
    (click)="cancel()"
  >
    Cancel
  </button>

  <button ejs-button cssClass="e-success">Success</button>

  <!-- Info Button - Used to represent an informative action -->
  <button ejs-button cssClass="e-info">Info</button>

  <!-- Warning Button - Used to represent an action with caution. -->
  <button ejs-button cssClass="e-warning">Warning</button>

  <!-- Danger Button - Used to represent a negative action. -->
  <button ejs-button cssClass="e-danger">Danger</button>

  <!-- Link Button - Changes the appearance of the Button like a hyperlink. -->
  <button ejs-button cssClass="e-link">Link</button>`
</div>
