.dashboard {
  width: 100%;
}

.items-panel {
  background: white !important;
  padding: 10px;
  color: white;
  min-height: 115px;
  box-shadow: 0px 0px 15px 0px #7575ff22;
}

.item-name {
  padding: 10px;
  font-weight: 600;
  font-family: monospace;
  font-size: 13px;
  color: black;
}

.icons {
  padding: 10px;
  font-weight: 600;
  font-size: 30px;
  color: #d5e1c8;
  float: left;
}
.item-number {
  padding: 10px;
  font-weight: 600;
  font-size: 28px;
  color: black;
  float: left;
}

.news-container {
  background-color: white;
  overflow-y: scroll;
  max-height: 450px;
  overflow-x: hidden;
  width: 100%;
  box-shadow: 0px 0px 15px 0px #7575ff22;
  padding-top: 10px;
}
.carousel-inner
{
  height: 350px !important;
}

.links-container {
  background: white;
  overflow-y: scroll;
  max-height: 250px;
  overflow-x: hidden;
  margin-top: 10px;
  width: 100%;
  box-shadow: 0px 0px 15px 0px #7575ff22;
  padding-top: 10px;
}

h5 {
  margin-left: 30px;
  margin-top: 20px;
  font-family: monospace;
}
.carousel-img {
  margin-top: 10px;
  width: 100%;
}

table {
  margin-top: 10px;
  box-shadow: 0px 0px 15px 0px #7575ff22;
}

.table th,
.table td {
  padding: 0.563rem !important;
}

i {
  font-size: 40px;
}
