<div class="row">
  <div class="col-7">
    <div class="col-12">
      <div class="row">
        <div class="dashboard">
          <div class="row">
            <div class="col-lg-6 col-sm-6">
              <div class="items-panel">
                <div class="item-name">
                  Your remaining annual leave balance
                </div>
                <div class="icon-number">
                  <div class="icons"><i class="fas fa-location-arrow"></i></div>
                  <div class="item-number" *ngIf="leaveBalance.length > 0">
                    {{ leaveBalance[0].balance | number }}
                  </div>
                </div>
              </div>
            </div>
            <div class="col-lg-6 col-sm-6">
              <div class="items-panel">
                <div class="item-name">
                  Your remaining medical balance
                </div>
                <div class="icons">
                  <i class="fas fa-capsules"></i>
                </div>
                <div class="item-number" *ngIf="medicalBalance">
                  {{ medicalBalance | currency: "":"" }}
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="carousel-img">
          <div class="row">
            <div class="col-xl-12" style="height: 350px;overflow: hidden;">
              <ngb-carousel *ngIf="sliderImages">
                <ng-template ngbSlide *ngFor="let image of sliderImages" style="height: 350px;">
                  <img
                    [src]="image.url"
                    style="width:100%;"
                    alt="image.title"
                  />
                  <div class="carousel-caption">
                    <p>{{ image.desc }}</p>
                  </div>
                </ng-template>
              </ngb-carousel>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-6">
          <h5 class="attendance-header"><b>Weekly Attendance</b></h5>
          <table class="table">
            <thead>
              <tr>
                <th scope="col">#</th>
                <th scope="col">Date</th>
                <th scope="col">Morning</th>
                <th scope="col">Afternoon</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let weekly of weeklyAttendance; index as i">
                <th scope="row">{{ i + 1 }}</th>
                <td>{{ weekly.scan_date }}</td>
                <td>{{ weekly.morning }}</td>
                <td>{{ weekly.afternoon }}</td>
              </tr>
            </tbody>
          </table>
        </div>
        <div class="col-6">
          <h5 class="attendance-header"><b>Available Balances</b></h5>
          <table class="table">
            <thead>
              <tr>
                <th scope="col">#</th>
                <th scope="col">Type</th>
                <th scope="col">Balance</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let leave of leaveBalance; index as i">
                <th scope="row">{{ i + 1 }}</th>
                <td>{{ leave.leave_name }}</td>
                <td>{{ leave.balance }}</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
  <div class="col-5">
    <div class="row">
      <div class="news-container">
        <div class="row">
          <div class="col-lg-12 col-sm-12">
            <app-news-list></app-news-list>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <h5><b>Important resources and links</b></h5>
      <div class="links-container">
        <div class="row">
          <div class="col-lg-12 col-sm-12">
            <app-useful-linklist></app-useful-linklist>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
