<div class="container">
  <div class="notification" *ngIf="notifications.length">
    <ul *ngIf="notifications.length > 0">
      <li
        *ngFor="let notif of notifications; index as i"
        (click)="viewNotificationDetail(notif.id, notif.status, notif.name)"
      >
        <span>
          <small
            >The request you sent for <b>{{ notif.name | uppercase }}</b> is
            {{ notif.status === "approve" ? "approved" : "rejected" }}
            <small class="date">{{ notif.updated_date | date }}</small></small
          >

          <br />
        </span>
        <div class="underline"></div>
      </li>
    </ul>
  </div>
</div>
