<div class="row">
    <div class="col-6">
        <div class="e-card error" *ngIf="result">
            <div class="e-card-content">
                <ul><li *ngFor="let r of result;">{{ result }}</li></ul>
            </div>
        </div>
        <ejs-tab id="element">
          <e-tabitems>
                <e-tabitem>
                    <ng-template #headerText>Basic</ng-template>
                    <ng-template #content>
                        <p></p>
                        <div class="e-card link">
                        <div class="e-card-content">
                            <p>
                                <span id="position">
                                <label for="position">Position : </label>
                                <u>  {{ detail?.Position | uppercase }}  </u>
                                </span>
                                <span id="jobgrade" style="float: right;">
                                <label for="jobgrade">Job Grade : </label>
                                <u>  {{ detail?.JobGrade  }}  </u>
                                </span>
                            </p>
                            <p>
                                <span id="location">
                                <label for="location">Duty Station/Branch : </label>
                                <u>  {{ detail?.Location | titlecase }}  </u>
                                </span>
                
                                <span id="av" style="float: right;">
                                <label for="av">Availability : </label>
                                <u>  {{ detail?.Availability }}  </u>
                                </span>
                            </p>
                            <p>
                                <span id="dep">
                                <label for="dep">Department : </label>
                                <u>  {{ detail?.department_name }}  </u>
                                </span>
                                <span id="divi" style="float: right;">
                                <label for="divi">Division : </label>
                                <u>  {{ detail?.Division }}  </u>
                                </span>
                            </p>
                        
                        </div>
                        </div>
                        <br />  
                        <div class="e-card link">
                            <div class="e-card-content">
                                <p>Field Of Study</p>
                                <p>- <span *ngFor="let f of detail?.Field_Of_Study">{{ f }}, </span></p>
                            </div>
                        </div>
                        <br />
                        <div class="e-card link">
                            <div class="e-card-content">
                                <p>Qualification and Exprience</p>
                                <p *ngFor="let qe of detail?.qe">
                                    - <span> {{ qe.exp }} year for {{ qe.qua }}</span>
                                </p>
                                <p *ngIf="detail?.Work_Experience">
                                    * In the following fields ,<span *ngFor="let exp of detail?.Work_Experience">{{ exp + ','}}</span>
                                </p> 
                            </div>
                        </div>
                        <br />
                        <div class="e-card link" *ngIf="detail?.Special_Year_Of_Experience || detail?.Special_Work_Experience">
                            <div class="e-card-content">
                                <p>Special Work Experience</p>
                                <p> - {{ detail?.Special_Year_Of_Experience + 'in' + detail?.Special_Work_Experience }}</p>
                            </div>
                        </div>
                        <br />
                        <div class="e-card link" *ngIf="detail?.Sector">
                            <div class="e-card-content">
                                <p>Sector</p>
                                <p *ngFor="let se of detail?.Sector">
                                    - <span> {{ se }}</span>
                                </p>
                            </div>
                        </div>
                        <br />
                        <div class="e-card link" *ngIf="detail?.Remark">
                            <div class="e-card-content">
                                <p>Remarks : </p>
                                <p align="center">{{ detail?.Remark }}</p>
                            </div>
                        </div>
                        <br />
                        <p>
                          <span style="float: right;">
                            <button class="btn e-danger mr-2" ejs-button type="button" (click)="cancel()">&lsaquo; Back</button>
                            <button class="btn e-info" ejs-button type="button" (click)="Submit()" *ngIf="!detail?.Employee_id; else els">
                                Submit
                            </button>
                            <ng-template #els>
                                <button class="btn e-success" ejs-button type="button" (click)="Withdraw()">
                                    Withdraw
                                </button>
                            </ng-template>
                          </span>
                        </p>
                        <br />
                        <p></p>
                    </ng-template>
                </e-tabitem>

                <e-tabitem>
                    <ng-template #headerText>Detail</ng-template>
                    <ng-template #content>
                        <p></p>
                        <div class="e-card link" *ngIf="detail?.Details">
                          <div class="e-card-content">
                            <div [innerHTML]="detail.Details | htmlSanitaizer"></div>
                          </div>
                        </div>
                    </ng-template>
                </e-tabitem>
          </e-tabitems>
        </ejs-tab>        
    </div>
</div>

<app-shared-toast #notif></app-shared-toast>
  