.link {
    border: 2px solid #73A03455;
    margin-bottom: 10px;
  }
  
  h6,
  span {
    margin-left: 10px;
  }
  
  a {
    color: black;
  }
  
  .col-6 {
    margin-left: 5%;
  }

  .e-card {
    box-shadow: none;  
  }

  .error {
    background-color: goldenrod;
    border-radius: 5%;
    color: whitesmoke;
  }