<ejs-dialog
  id="dialog"
  #template
  [showCloseIcon]="dialogCloseIcon"
  [target]="targetElement"
  width="600px"
  [position]="position"
  [isModal]="true"
  [closeOnEscape]="true"
  (close)="dialogClose()"
  [enableResize]="true"
  [allowDragging]="true"
>
  <ng-template #header>
    <div title="Nancy" class="e-icon-settings dlg-template">
      {{ notfStatus === "approve" ? "Approved" : "Rejected" }}
      <small class="req-date">{{ updatedDate }}</small>
    </div>
    <div class="underline"></div>
  </ng-template>
  <ng-template #content>
    <small
      >The request you sent for {{ notfName }} is
      {{ notfStatus === "approve" ? "approved" : "rejected" }}</small
    >
  </ng-template>

  <ng-template #footerTemplate></ng-template>
</ejs-dialog>
<app-shared-toast #notif></app-shared-toast>
