.btn {
    margin-right: 20px !important;
  }
  
  .e-card{
    padding: 3px;
    padding-bottom: 8px;;
    border-color: #7575ff;
    background: #f7f7f7;
    box-shadow: 0 2px 3px 0 rgb(250, 196, 33);
  }
  

  .e-plus-icon::before {
    content: "\e823";
  }
  
  .e-close::before {
    content: "\e7fc";
  }
  
  .e-card.content.card.m-3 {
    padding-top: 3px;
    padding-bottom: 8px;
    border-color: #7575ff;
    background: #f7f7f7;
    box-shadow: 0 2px 3px 0 rgb(250, 196, 33);
  }
  
  #remove-button,
  #add-button {
    margin-top: 25px;
    padding: 0px;
    float: left;
    margin-left: 15px;
    font-size: inherit;
  }
  
  .btn {
    margin-right: 20px !important;
  }
  
  .single-request {
    border-right: 3px solid lightblue;
    border-bottom: 3px solid lightblue;
  }
  
  .medical-array {
    border: 1px 1px 1px 1px solid;
    border-color: #7575ff44;
    padding: 1%;
  }
  
  .medical-array {
    margin-left: -45px;
  }
  
  label {
    font-weight: bolder;
    font-family: 'Times New Roman', Times, serif;
  }