<form [formGroup]="formGroup" (ngSubmit)="Submit()">
    <div formArrayName="schedules">
        <div *ngFor="let schedule of schedules.controls; let i = index; let j = last">
            <div [formGroupName]="i">
              <div class="e-card">                  
                <div class="row">
                  <div class="col-3">
                    <label for="budget_year_start">Begining Date</label>
                    <ejs-datepicker format="yyyy/MM/dd" placeholder="Budget Year Start" formControlName="budget_year_start" [min]='minDate' [max]='maxDate'></ejs-datepicker>
                    <span style="color: crimson;" *ngIf="get_forGroup(i).controls['budget_year_start'].hasError('required') && formSubmitted">
                        <small>* begining date is required</small>
                    </span>

                  </div>

                  <div class="col-3">
                    <label for="budget_year_end">End Date</label>
                    <ejs-datepicker format="yyyy/MM/dd" placeholder="Budget Year End" formControlName="budget_year_end" [min]='minDate' [max]='maxDate'></ejs-datepicker>
                    <span style="color: crimson;" *ngIf="get_forGroup(i).controls['budget_year_end'].hasError('required') && formSubmitted">
                        <small>* end date is required</small>
                    </span>

                  </div>

                  <div class="col-3">
                    <button
                      [disabled]="schedules.length === 1"
                      id="remove-button"
                      type="button"
                      ejs-button
                      cssClass="e-round e-danger e-small"
                      iconCss="e-icons e-close"
                      (click)="remove(i)"
                      *ngIf="true"
                    ></button>
                    <button
                      [disabled]="total_Days() >= remainingBalance"
                      id="add-button"
                      type="button"
                      ejs-button
                      class="e-pluse e-info"
                      cssClass="e-round e-primary e-small"
                      iconCss="e-icons e-plus-icon"
                      (click)="add()"
                      *ngIf="!isUpdate"
                    ></button>
                  </div>                  
                </div>
              </div>
              <p></p>
            </div>
        </div>
    </div>
    <br />
    <div class="row">
        <div class="col-4">
          <div class="form-group mx-sm-3 mb-1">
            <button class="btn e-info" ejs-button type="submit" [disabled]="remainingBalance === 0">
              {{ isUpdate ? 'Update' : 'Send' }}
            </button>
            <button type="button" class="btn e-danger" ejs-button (click)="cancel()">Cancel</button>
          </div>
        </div>

        <div class="col-4"></div>

        <div class="col-4">
            <span style="float: left; color: #3e4e27; font-weight: 500;">
              Available Balance :  <u>{{ remainingBalance | number}}</u>
            </span> <br />
            <span style="float: left; color: #3e4e27; font-weight: 500;">
              Total Date : <u>{{ total_Days() | number }}</u>
            </span>
        </div>

      </div>
</form>

<app-shared-toast #notif></app-shared-toast>