<form [formGroup]="workflowForm" (ngSubmit)="onSubmit()" name="workflowForm">
  <div class="e-card content card m-3">
    <div class="row">
      <div class="col-4">
        <div class="form-group mx-sm-3 mb-1">
          <label for="action">Action/Activity</label>
          <ejs-dropdownlist
            id="ddlelement"
            [dataSource]="actions"
            placeholder="Action"
            float="Auto"
            formControlName="action"
            [fields]="fields"
          >
          </ejs-dropdownlist>
          <div
            class="e-error"
            *ngIf="
              (submitted && action.errors) || (action.errors && action.touched)
            "
          >
            <div *ngIf="action.errors['required']">
              *Action/Activity is Required*
            </div>
          </div>
        </div>
      </div>
      <div class="col-4">
        <div class="form-group mx-sm-3 mb-1">
          <label for="minJobGrade">Minimum job grade</label>
          <ejs-numerictextbox
            formControlName="minJobGrade"
            format="N"
          ></ejs-numerictextbox>
          <div
            class="e-error"
            *ngIf="
              (submitted && minJobGrade.errors) ||
              (minJobGrade.errors && minJobGrade.touched)
            "
          >
            <div *ngIf="minJobGrade.errors['required']">
              *Minimum job grade is required*
            </div>
          </div>
        </div>
      </div>
      <div class="col-4">
        <div class="form-group mx-sm-3 mb-1">
          <label for="maxJobGrade">Maximum job grade</label>
          <ejs-numerictextbox
            formControlName="maxJobGrade"
            format="N"
          ></ejs-numerictextbox>
          <div
            class="e-error"
            *ngIf="
              (submitted && maxJobGrade.errors) ||
              (maxJobGrade.errors && maxJobGrade.touched)
            "
          >
            <div *ngIf="maxJobGrade.errors['required']">
              *Maximum job grade is required*
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="row array-container" formArrayName="workFlowArray">
      <div
        class="row workflow-array"
        *ngFor="
          let workflow of workFlowArray.controls;
          let i = index;
          let last = last
        "
        [formGroup]="workflow"
      >
        <div class="col-4 array-field experience">
          <div class="form-group mx-sm-3 mb-1">
            <label for="step">Step</label>
            <ejs-numerictextbox
              formControlName="step"
              format="N"
            ></ejs-numerictextbox>
            <div
              class="e-error"
              *ngIf="
                (submitted && workflow.errors) ||
                (workflow.errors && step.touched)
              "
            >
              <div *ngIf="step.errors['required']">
                *Step is Required*
              </div>
            </div>
          </div>
        </div>

        <div class="col-4 array-field experience">
          <div class="form-group mx-sm-3 mb-1">
            <label for="authorizedBy">Authorized position</label>
            <ejs-autocomplete
              id="atcelement"
              [fields]="positionFields"
              [dataSource]="positions"
              placeholder="Search positions"
              formControlName="authorizedBy"
              (filtering)="onFilteringPosition($event)"
            ></ejs-autocomplete>
            <ejs-checkbox 
              cssClass="e-success"
              label="Report to"
              (change)="reportTo(i)"
            ></ejs-checkbox>
            <div
              class="e-error"
              *ngIf="
                (submitted && workflow.errors) ||
                (workflow.errors && authorizedBy.touched)
              "
            >
              <div *ngIf="authorizedBy.errors['required']">
                *Authorized position is Required*
              </div>
            </div>
          </div>
        </div>
        <div class="col-2 array-buttons">
          <button
            id="remove-button"
            type="button"
            ejs-button
            cssClass="e-round e-danger e-small"
            iconCss="e-icons e-close"
            (click)="deleteWorkFlowArray(i)"
          ></button>
          <button
            *ngIf="last"
            [disabled]="workflowForm.invalid"
            id="add-button"
            type="button"
            ejs-button
            class="e-pluse e-info"
            cssClass="e-round e-primary e-small"
            iconCss="e-icons e-plus-icon"
            (click)="addWorkFlowArray()"
          ></button>
        </div>
      </div>
    </div>
    <div class="row btn-row">
      <div class="col-4">
        <div class="form-group mx-sm-3 mb-1">
          <button class="btn e-info" ejs-button type="submit">
            Save
          </button>
          <button
            type="button"
            class="btn e-danger"
            ejs-button
            (click)="cancel()"
          >
            Cancel
          </button>
        </div>
      </div>
      <div class="col-8"></div>
    </div>
  </div>
</form>
<app-shared-toast #notif></app-shared-toast>
