.e-plus-icon::before {
  content: "\e823";
}

.e-close::before {
  content: "\e7fc";
}

.e-card.content.card.m-3 {
  padding: 15px;
  border-color: #7575ff;
  background: #f7f7f7;
  box-shadow: 0 2px 3px 0 rgb(250, 196, 33);
}

.workflow-array {
  width: 100%;
}

#remove-button,
#add-button {
  margin-top: 45px;
  padding: 0px;
  float: left;
  margin-left: 15px;
  font-size: inherit;
}

.content-wrapper {
  min-height: 350px;
}
/* .overflow {
  overflow: auto;
}

#position {
  overflow-x: scroll;
} */

.array-field {
  margin: 0;
}

.btn {
  margin-right: 20px !important;
}
