/* You can add global styles to this file, and also import other style files */
@import '../node_modules/@syncfusion/ej2-base/styles/material.css';  
@import '../node_modules/@syncfusion/ej2-buttons/styles/material.css';  
@import '../node_modules/@syncfusion/ej2-calendars/styles/material.css';  
@import '../node_modules/@syncfusion/ej2-dropdowns/styles/material.css';  
@import '../node_modules/@syncfusion/ej2-inputs/styles/material.css';  
@import '../node_modules/@syncfusion/ej2-navigations/styles/material.css';
@import '../node_modules/@syncfusion/ej2-popups/styles/material.css';
@import '../node_modules/@syncfusion/ej2-splitbuttons/styles/material.css';  
@import '../node_modules/@syncfusion/ej2-angular-grids/styles/material.css';

@import '../node_modules/@syncfusion/ej2-angular-inputs/styles/material.css';

@import '../node_modules/@syncfusion/ej2-lists/styles/material.css';
@import '../node_modules/@syncfusion/ej2-angular-dropdowns/styles/material.css';

@import '../node_modules/@syncfusion/ej2-angular-calendars/styles/material.css';

@import "../node_modules/@syncfusion/ej2-base/styles/material.css";
@import "../node_modules/@syncfusion/ej2-angular-lists/styles/material.css";


@import '../node_modules/@syncfusion/ej2-base/styles/material.css';
@import '../node_modules/@syncfusion/ej2-inputs/styles/material.css';
@import '../node_modules/@syncfusion/ej2-angular-inputs/styles/material.css';

@import '../node_modules/@syncfusion/ej2-angular-notifications/styles/material.css';


body {
  background: #fbfaff;
}

.e-expand::before {
  content: "\e919";
}

.e-collapse::before {
  content: "\e918";
}

.e-create::before {
  content: "\e823";
}

.e-BT_Excelfilter::before {
  content: "\e251";
}

/* for notification and request content */
.outlet .container {
  padding: 10px;
  background: white;
  max-height: 700px;
  overflow-y: scroll !important;
}

.e-tbar-btn.e-tbtn-txt.e-control.e-btn.e-lib {
  background: #a2a2a255;
  width: 80px;
}

.e-tbar-btn.e-tbtn-txt.e-control.e-btn.e-lib:hover {
  background: #a2a2a255;
  width: 80px;
  box-shadow: 0px 3px 5px 0px gray;
}

.e-toolbar .e-toolbar-items .e-toolbar-item .e-tbar-btn-text {
  font-weight: 500 !important;
}
.e-btn-icon {
  color: #ffc107;
  font-weight: 500;
}

.e-grid .e-groupdroparea.e-grouped {
  background-color: #73a134 !important;
}

.e-grid-icone-groupheadercell {
  background-color: #ffc107 !important;
}

.e-grouptext {
  color: #73a134 !important;
}
.e-grid .e-groupheadercell {
  background-color: #ffc107 !important;
}

.e-groupsort.e-icons.e-ascending.e-icon-ascending {
  display: none !important;
}
.e-groupsort.e-icons.e-descending.e-icon-descending {
  display: none;
}

.e-ungroupbutton.e-icons.e-icon-hide {
  display: none;
}

#dialog {
  height: auto !important;
  max-height: 400px !important;
}

