.sidebar-head {
    text-align: center;
    padding: 10px;
  }
  .sidebar-menu {
    margin-top: 30px !important;
  }
  .head-text {
    font-weight: 600;
    font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
    font-size: 30px;
    color: #3f51b5;
  }
  .user-panel {
    height: 250px;
    text-align: center;
    font-size: 20px;
    padding: 30px;
  }
  
  .image {
    padding: 5px;
  }
  
  img {
    border-radius: 65px;
  }
  
  .info {
    font-size: 14px;
    text-align: center;
    padding-top: 10px;
  }
  
  .main-header {
    height: 53px;
    background: #73a134;
    margin-top: -8px;
    margin-left: 260px;
  }
  
  #default-sidebar {
    width: 260px !important;
    background: #73a13447;
  }
  
  .title-container {
    float: left;
    padding: 4px;
  }
  .settings-container {
    float: right;
    padding: 4px;
    padding-top: 10px;
  }
  .head-title {
    font-family: monospace;
    font-size: 38px;
    color: #f7f7f7;
    margin-left: 20px;
  }
  
  .logout-container {
    padding: 5px;
    float: left;
    margin-right: 30px;
  }
  
  .logout-icon {
    border-left: 2px solid white;
    margin-right: 5px;
  }
  
  .link-container {
    float: left;
    padding: 5px;
    margin-right: 30px;
  }
  
  .link-text {
    font-family: monospace;
    font-size: 22px;
    font-weight: 500;
    color: #443404;
    cursor: pointer;
    margin-right: 50px;
    margin-left: 10px;
  }
  .logout-text {
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
    font-size: 20px;
    font-weight: 500;
    color: #f7f7f7;
    cursor: pointer;
  }
  
  .e-fullrow {
    width: 250px;
    margin-left: 5px;
    border-radius: 10px;
  }
  
  .main-content {
    margin-left: 280px;
    margin-right: 30px;
    height: auto;
    margin-top: 50px;
    min-height: 850px;
  }
  
  .underline {
    background: #d5e1c8;
    border-radius: 5px;
    width: 52px;
    height: 6px;
    margin-top: 10px;
  }
  
  .thin-underline {
    border-radius: 5px;
    width: 100%;
    height: 1px;
    margin-top: 10px;
    box-shadow: 0px 1px 10px 0px #447500;
  }
  
  .line {
    width: 100%;
  }
  .module-title {
    margin-bottom: 20px;
  }
  
  .e-list-item.e-level-1.e-active > .e-fullrow {
    background: #fac421;
  }
  
  .e-list-item.e-level-2.e-active > .e-fullrow {
    background: #fac421;
  }
  
  .e-treeview .e-list-item.e-hover > .e-fullrow {
    background: #fac421;
  }
  
  /* .e-treeview .e-list-item.e-active > .e-text-content * {
    color: white;
  } */
  .e-treeview .e-list-item.e-active > .e-text-content .e-list-text {
    color: black;
    font-weight: 500;
  }
  
  .e-treeview .e-list-item.e-active > .e-fullrow {
    border-color: #73a134;
  }
  
  .e-list-text {
    font-size: 13px;
  }
  
  .e-badge.e-badge-success:not(.e-badge-ghost):not([href]) {
    background-color: #fac421;
    color: #443404;
  }
  
  .far.fa-circle {
    color: white;
    position: absolute;
    font-size: 35px;
  }
  
  .main-container {
    background: #fbfaff;
  }
  
  .popover-request,
  .popover-notification {
    width: 350px;
    z-index: 1000;
    background: white;
    /* float: right; */
    box-shadow: 0px 0px 15px 0px gray;
    position: absolute;
    display: none;
    right: 0;
    left: auto;
    -ms-overflow-style: none;
    
  }
  
  .popover-request .popup-content {
    height: 300px;
    -ms-overflow-style: none;

  }
  .popover-notification .popup-content {
    height: 300px;
    -ms-overflow-style: none;

  }
  .popup-header {
    font-size: 14px;
    font-weight: 600;
    padding-top: 10px;
    color: #3f51b5;
    -ms-overflow-style: none;

  }
  
  u {
    margin-left: 20px;
  }
  
  .request-cont,
  .notification-cont {
    position: relative;
    float: left;
    margin-right: 50px;
  }
  
  .popup-content {
    overflow-y: scroll;
    min-height: 250px;
    -ms-overflow-style: none;
  }
  .popup-conten::-webkit-scrollbar {
    display: none
  }
  
  .popup-footer {
    font-size: 14px;
    font-weight: 600;
    padding-top: 10px;
    color: #3f51b5;
    height: 30px;
    background-color: aliceblue;
    -ms-overflow-style: none;
  }


  .view-more {
    cursor: pointer;
  }
  
  i {
    margin-right: 10px;
  }
  
  .e-badge {
    color: #443404;
  }
  
  .name {
    /* width: 172px; */
    overflow-wrap: break-word !important;
  }
  
  .user-info {
    font-size: 12px;
    font-weight: 500;
  }
  
  .outlet {
    margin-left: 250px;
  }