<div id="maincontent">

  <div class="sidebar-container" *ngIf="isLoggedIn">
    <ejs-sidebar id="default-sidebar" #sidebar (created)="onCreated($event)" style="visibility: hidden" [enableGestures]="false">
      <div class="user-panel">
        <div class="image"><img src="../../../assets/logo.jpg" /></div>
        <div class="info">
          <div class="slef-service"><b>Smart Self Service</b></div>
          <div class="name">
            <span><small class="user-info">{{ fullName }}</small></span>
            <br />
            <span><small class="user-info">{{ position }}</small></span>
          </div>
        </div>
      </div>
      <br />
      <div class="thin-underline"></div>
      <div class="sidebar-menu">
        <ejs-treeview #tree (nodeClicked)="loadRoutingContent($event)" id="treeelement" [fields]="field">
          <ng-template #nodeTemplate="" let-data="">
            <div>
              <div><i [attr.class]="data.icon" aria-hidden="true"> </i>{{ data.name }}</div>
            </div>
          </ng-template>
        </ejs-treeview>
      </div>
    </ejs-sidebar>
  </div>

  <div class="main-header" *ngIf="isLoggedIn">
      <div class="title-container"><span class="head-title">ECX</span></div>
      <div class="settings-container">
        <div class="link-container">
          <div class="request-cont" (clickOutside)="onClickedOutsideRequest($event)">
            <span>
              <span class="link-text"><a class="fas fa-question-circle" (click)="getRequest()"></a></span>
              <div style="position:relative;display:inline-block;margin:10px 0px 15px -35px;">
                <span class="e-badge e-badge-success e-badge-overlap e-badge-notification">{{ totalRequest }}</span>
              </div>
            </span>
            <div class="popover-request">
              <div class="popup-header">
                <u>You have {{ totalRequest }} new request</u>
              </div>
              <div class="popup-content">
                <app-request-list (total_request)="total_request($event)"></app-request-list>
              </div>
              <div class="popup-footer">
                <u class="view-more" (click)="getAllRequests()">View more</u>
              </div>
            </div>
          </div>
          <div class="notification-cont" (clickOutside)="onClickedOutsideNotification($event)">
            <span>
              <span class="link-text"><a class="fas fa-bell" (click)="getNotification()"></a></span>
              <div style="position:relative;display:inline-block;margin:10px 0px 15px -35px;">
                <span class="e-badge e-badge-success e-badge-overlap e-badge-notification">{{ totalNotification }}</span>
              </div>
            </span>
            <div class="popover-notification">
              <div class="popup-header">
                <u>You have {{ totalNotification }} new notification</u>
              </div>
              <div class="popup-content">
                <app-notification-list></app-notification-list>
              </div>
              <div class="popup-footer">
                <u class="view-more" (click)="getAllNotifications()">{{ totalNotification > 0 ? "View more" : "View older" }}</u>
              </div>
            </div>
          </div>
        </div>
        <div class="logout-container">
          <span class="logout-icon"></span>
          <a class="logout-text" (click)="logout()">Logout</a>
        </div>
      </div>
  </div>
  <br />
  <div class="outlet">
    <div class="container-fluid">
      <div class="module-title" *ngIf="isLoggedIn">
        <app-title-view></app-title-view>
        <div class="underline"></div>
      </div>
      <router-outlet></router-outlet>
    </div>
  </div>

</div>

<app-shared-toast #notif></app-shared-toast>