<div class="content card mb-1">
  <div class="row mr-3 ml-3">
    <div *ngIf="news">
      <img src="{{ news.url }}" style="width: 100%; height: 70%;" />
      <h4>
        <b>{{ news.heading }}</b>
      </h4>
      <span
        ><small>posted on : {{ news.date | date }}</small></span
      >
      <br />
      <p [innerHTML]="news.news_content | htmlSanitaizer"></p>
      <small>By: {{ news.full_name }}</small>
      <br />
      <button class="btn e-info" ejs-button type="button" (click)="back()">
        back
      </button>
    </div>
  </div>
</div>
